<template>
  
  <div>
  <v-row class="fill-height">
    <v-col>
      <v-sheet height="64">
        <v-toolbar flat color="white">
        <v-btn color="primary" dark class="mr-4" @click="dialog = true">
          
        Agregar
        </v-btn>
          <v-btn outlined class="mr-4" color="grey darken-2" @click="setToday">
            Hoy
          </v-btn>
          <v-btn fab text small color="grey darken-2" @click="prev">
            <v-icon small>mdi-chevron-left</v-icon>
          </v-btn>
          <v-btn fab text small color="grey darken-2" @click="next">
            <v-icon small>mdi-chevron-right</v-icon>
          </v-btn>
          <v-toolbar-title v-if="$refs.calendar">
            {{ $refs.calendar.title }}
          </v-toolbar-title>
          <v-spacer></v-spacer>
          <v-menu bottom right>
            <template v-slot:activator="{ on, attrs }">
              <v-btn
                outlined
                color="grey darken-2"
                v-bind="attrs"
                v-on="on"
              >
                <span>{{ typeToLabel[type] }}</span>
                <v-icon right>mdi-menu-down</v-icon>
              </v-btn>
            </template>
            <v-list>
              <v-list-item @click="type = 'day'">
                <v-list-item-title>Dia</v-list-item-title>
              </v-list-item>
              <v-list-item @click="type = 'week'">
                <v-list-item-title>Semana</v-list-item-title>
              </v-list-item>
              <v-list-item @click="type = 'month'">
                <v-list-item-title>Mes</v-list-item-title>
              </v-list-item>
              <v-list-item @click="type = '4day'">
                <v-list-item-title>4 dias</v-list-item-title>
              </v-list-item>
            </v-list>
          </v-menu>
        </v-toolbar>
      </v-sheet>
      <v-sheet height="600">

        <v-calendar
          ref="calendar"
          v-model="focus"
          color="primary"
          :events="events"
          :event-color="getEventColor"
          :type="type"
          @click:event="showEvent"
          @click:more="viewDay"
          @click:date="viewDay"
          @change="updateRange"
          locale="es"
          :short-weekdays="false"
        ></v-calendar>

        <!--Modal para agregar Tarea:-->
        <v-dialog v-model="dialog">
            <v-card>
                <v-container>
                    <v-form @submit.prevent="addEvent">
                        <v-text-field 
                        :error-messages="nameErrors"
                        :counter="10"
                        required
                        @input="$v.name.$touch()"
                        @blur="$v.name.$touch()"
                        type="text" label="Agregar Nombre" v-model="name">
                        </v-text-field>
                        <v-text-field 
                        :error-messages="detailsErrors"
                        :counter="20"
                        required
                        @input="$v.details.$touch()"
                        @blur="$v.details.$touch()"
                        type="text" label="Agregar detalle" v-model="details">
                        </v-text-field>
                        <v-text-field 
                        type="date" label="Inicio del Evento" v-model="start">
                        </v-text-field>
                        <v-text-field 
                        type="date" label="Fin del Evento" v-model="end">
                        </v-text-field>
                        <v-text-field 
                        type="color" label="color del Evento" v-model="color">
                        </v-text-field>
                        <v-alert
                          v-model="alerta"
                          dense
                          outlined
                          type="error"
                          dismissible
                        >
                          {{textoAlerta}}
                        </v-alert>
                       
                        <v-btn type="submit" color="primary" class="mr-4" @click.stop="submit">Agregar</v-btn>
                    </v-form>
                </v-container>
            </v-card>
        </v-dialog>
        <!--Agregando Snackbar-->
    <v-snackbar
      v-model="snackbar"
    >
      {{ text }}

      <template v-slot:action="{ attrs }">
        <v-btn
          color="pink"
          text
          v-bind="attrs"
          @click="snackbar = false"
        >
          Close
        </v-btn>
      </template>
    </v-snackbar>

        <v-menu
          v-model="selectedOpen"
          :close-on-content-click="false"
          :activator="selectedElement"
          offset-x
        >
          <v-card
            color="grey lighten-4"
            min-width="350px"
            flat
          >
            <v-toolbar
              :color="selectedEvent.color"
              dark
            >
              <v-btn icon @click="deleteEvent(selectedEvent)">
                <v-icon>mdi-delete</v-icon>
              </v-btn>
              <v-toolbar-title v-html="selectedEvent.name"></v-toolbar-title>
              <v-spacer></v-spacer>
            </v-toolbar>
            <v-card-text>
              <!-- Editando Eventos -->
              <v-form v-if="currentlyEditing !== selectedEvent.id">
              {{selectedEvent.details}}
              </v-form>
              <v-form v-else>
                <v-text-field
                  type="text"
                  label="Editar Nombre"
                  v-model="selectedEvent.name"
                >
                </v-text-field>
                <textarea-autosize
                  type="text"
                  label="Editar Descripcion"
                  v-model="selectedEvent.details"
                  style="width: 100%"
                  :min-height="100"
                >
                </textarea-autosize>
              </v-form>
            </v-card-text>
            <v-card-actions>
              <v-btn
                text
                color="secondary"
                @click="selectedOpen = false"
              >
                Cancelar
              </v-btn>
              <!-- Editando Evento -->
              <v-btn 
              v-if="currentlyEditing !== selectedEvent.id"
              text
              @click="editarEvent(selectedEvent.id)">Editar</v-btn>
              <v-btn
                text
                v-else
                @click="updateEvent(selectedEvent)"
              >Guardar</v-btn>
            </v-card-actions>
          </v-card>
        </v-menu>
      </v-sheet>
    </v-col>
  </v-row>
  </div>

 

  

</template>

<script>
import {db} from '../main'
import { validationMixin } from 'vuelidate'
import {required,maxLength} from 'vuelidate/lib/validators'
  export default {
    //Vuelidate:
     mixins: [validationMixin],

    validations: {
      name: { required, maxLength: maxLength(10) },
      details:{ required, maxLength: maxLength(20)},
  
    },
    data: () => ({
      focus: '',
      type: 'month',
      typeToLabel: {
        month: 'Mes',
        week: 'Semana',
        day: 'Dia',
        '4dia': '4 Dias',
      },
      alerta:false,
      textoAlerta:'',
      start: null,
      end: null,
      selectedEvent: {},
      selectedElement: null,
      selectedOpen: false,
      //Nuevos agregados:
      snackbar: false,
      text: '',
      name:null,
      details:null,
      color: '#3431d0',
      dialog: false,
      currentlyEditing: null,
      events: [],
      colors: ['blue', 'indigo', 'deep-purple', 'cyan', 'green', 'orange', 'grey darken-1'],
      names: ['Meeting', 'Holiday', 'PTO', 'Travel', 'Event', 'Birthday', 'Conference', 'Party'],
    }),
    mounted () {
      this.$refs.calendar.checkChange()
    },
    created(){
        this.getEvents();
    },
    computed: {
      nameErrors () {
        const errors = []
        if (!this.$v.name.$dirty) return errors
        !this.$v.name.maxLength && errors.push('10 caracteres maximo')
        !this.$v.name.required && errors.push('Campo Requerido.')
        return errors
      },
      detailsErrors () {
        const errors = []
        if (!this.$v.details.$dirty) return errors
        !this.$v.details.maxLength && errors.push('20 caracteres maximo')
        !this.$v.details.required && errors.push('Campo Requerido.')
        return errors
      },
    },
    methods: {
    //Agregando Eventos Firebase:
    submit () {
        if(this.name != null && this.start!= null && this.end != null){
          this.dialog = false;
          this.alerta = false;
        }else{
          this.$v.$touch();
        }
        
        
      },
    async updateEvent(ev){
      try {
        await db.collection('eventos').doc(ev.id).update({
          name: ev.name,
          details: ev.details
        });
        this.selectedOpen = false;
        this.currentlyEditing = null;
        this.snackbar = true;
        this.text = 'Evento Editado Exitosamente!'
        this.getEvents();
      } catch (error) {
        console.log(error);
      }
    },
    editarEvent(id){
      this.currentlyEditing = id;
    },
    async deleteEvent(ev){
      try {
        await db.collection('eventos').doc(ev.id).delete();
        this.selectedOpen = false;
        this.snackbar = true;
        this.text = 'Evento Eliminado Exitosamente!'
        this.getEvents();
      }
      
      catch (error) {
        console.log(error);
      }
    },
    async addEvent(){
        try {
            if(this.name && this.start && this.end){
                await db.collection('eventos').add({
                    name:this.name,
                    details:this.details,
                    start:this.start,
                    end:this.end,
                    color:this.color
                });
                //Para que se recargue automatico los datos
                this.snackbar = true;
                this.text = 'Evento Agregado Exitosamente!'
                this.getEvents();
                this.name = null;
                this.details = null;
                this.start = null;
                this.end = null;
                this.color = '#3431d0';
            }else{
                console.log('campos obligatorios');
                this.alerta = true;
                this.textoAlerta = 'Los Campos Fecha Tambien Son Obligatorios'
            }
        } catch (error) {
            console.log(error);
        }
    },
    async getEvents(){
        try {
            const snap = await db.collection('eventos').get();
            const events = [];

            //Recorriendo el arreglo y aplicando la funcion por cada
            //iteracion:
            snap.forEach(doc =>{
                
                let appData = doc.data();

                //Le agrego el id al objeto appData:
                appData.id = doc.id;
                
                events.push(appData);
            });
            this.events = events;
        } catch (error) {
            console.log(error);
        }
        //Fin
    },        

      viewDay ({ date }) {
        this.focus = date
        this.type = 'day'
      },
      getEventColor (event) {
        return event.color
      },
      setToday () {
        this.focus = ''
      },
      prev () {
        this.$refs.calendar.prev()
      },
      next () {
        this.$refs.calendar.next()
      },
      showEvent ({ nativeEvent, event }) {
        const open = () => {
          this.selectedEvent = event
          this.selectedElement = nativeEvent.target
          setTimeout(() => this.selectedOpen = true, 10)
        }

        if (this.selectedOpen) {
          this.selectedOpen = false
          setTimeout(open, 10)
        } else {
          open()
        }

        nativeEvent.stopPropagation()
      },
      updateRange ({ start, end }) {
        
      },
      rnd (a, b) {
        return Math.floor((b - a + 1) * Math.random()) + a
      },
    },
  }
</script>